<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" fill="outline"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      MINIC
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    
  <div style="display: flex; justify-content: center; align-content: center; flex-direction: column; height: 65vh">
      <img class="title-image" src="assets/LOGO MINIC 21.png" />
      <ion-searchbar placeholder="Analisis penyakit .." ></ion-searchbar>
      <ion-button style="margin: 0 100px" size="small">Diagnosa</ion-button>
  </div>
</ion-content>

